<!-- Content Wrapper. Contains page content -->

<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-md-5 col-sm-6">
        <h1 class="m-0">Dashboard de Clientes</h1>
      </div><!-- /.col -->
      
      <div class="col-md-3">

        

          <select [(ngModel)]="customer" class="form-control" id="input-service" placeholder="Clientes">
           <option></option>
          
           <option *ngFor="let customer of customers$ | async" [ngValue]="customer?.id">{{ customer.name }}</option>
          </select>
        
      </div>
      
      <div class="col-md-4 col-sm-6">

        <form class="row">
          <div class="col-12">
            <div class="dp-hidden position-absolute">
              <div class="input-group">
                <input name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker"
                  [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
                  [startDate]="fromDate!" tabindex="-1" />
                <ng-template #t let-date let-focused="focused">
                  <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                    [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                    (mouseleave)="hoveredDate = null">
                    {{ date.day }}
                  </span>
                </ng-template>
              </div>
            </div>
            <div class="input-group">
              <input disabled #dpFromDate class="form-control" placeholder="dd-mm-yyyy" name="dpFromDate"
                [value]="dateSelect(fromDate, toDate)" (input)="fromDate = validateInput(fromDate, dpFromDate.value)" />
              <button class="btn btn-outline-secondary calendar mr-2" (click)="datepicker.toggle()" type="button">
                <i class="icon-regular fa fa-calendar fa-lg" style="color:rgb(158, 175, 221);"></i>
              </button>


              <button class="btn btn-outline-secondary calendar" (click)="getData()" type="button">
                <i class="icon-regular fa fa-search" style="color:rgb(158, 175, 221);"></i>
              </button>


            </div>
          </div>

        </form>

        <!-- 
            <pre>From date model: {{ fromDate | json }}</pre>
            <pre>To date model: {{ toDate | json }}</pre>-->


        <!-- <ngb-datepicker #dp /> -->
        <!-- <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol> -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>{{ surveys?.length }}</h3>

            <p>Total de Vistorias</p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3>R$ {{  faturamentoCustomer }}<sup style="font-size: 20px"></sup></h3>

            <p>Receita</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
         
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <h3>{{ incomesSurveyContribuiton }} %</h3>

            <p>Contribuição Receita Total</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
         
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
          <div class="inner">
            <h3>R$ {{ incomesNotPaid }}<sup style="font-size: 20px"></sup></h3>

            <p>Pagamentos Pendentes</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
         
        </div>
      </div>
      <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
      <!-- Left col -->
      <div class="col-6">


        <app-ranking-surveys-customers *ngIf="surveysRecorrentes.length > 0" [surveys]="surveysRecorrentes" ></app-ranking-surveys-customers>

      </div>

      <div class="col-6">
        <app-surveys-customers *ngIf="surveys.length > 0" [surveys]="surveys"></app-surveys-customers>

      </div>
      <!-- /.Left col -->
      <!-- right col (We are only adding the ID to make the widgets sortable)-->

      <!-- right col -->
    </div>
    <!-- /.row (main row) -->
    <div class="row">
      <div class="col-12">
        <app-chart-surveys-customer-harbor *ngIf="surveysHarbors.length > 0" [surveyHabors]="surveysHarbors" ></app-chart-surveys-customer-harbor>
      </div>
    </div>

    <div class="row">

      <div class="col-6">
        <app-chart-categories-customers *ngIf="surveysPaid.length > 0" title="Receitas por vistorias" [categories]="surveyGrouppedByName" ></app-chart-categories-customers>
      </div>

      <div class="col-6">
        <app-chart-categories-customers *ngIf="surveysPaid.length > 0" title="Receitas por categorias de vistorias"  [categories]="surveyGrouppedCategories" ></app-chart-categories-customers>
      </div>


    </div>


  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->