<section class="content-header mb-1">
  <div class="container-fluid">
 
      

      <div class="row align-items-center">
        <div class="col  text-left">
            <h3 class="mb-0">Atendimentos</h3>
        </div>
   
        
    </div>


  </div>
</section>

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card card-page">
        <div class="card-header border-0">
        
            
              <h3 class="card-title">Lista de Atendimento</h3>
           
              <div class="card-tools mt-2">
                <div class="input-group mb-3">
                  <button (click)="open(addServices)" alt="Adicionar Atendimentos" title="Adicionar Atendimentos"
                    class="btn btn-primary mr-3"><i class="fa fa-plus"></i></button>
                  <input type="text" placeholder="Pesquisar" [(ngModel)]="seachText"
                    class="form-control ng-untouched ng-pristine ng-valid">
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-light border"><i class="fas fa-search"></i></button>
                  </div>
                </div>
              </div>
  

            <!-- 
            <div class="col-2">
              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control float-right" placeholder="Buscar" [(ngModel)]="seachText">
                </div>
              </div>
            </div>
            <div class="col-5 text-right">
              <a class="btn btn-sm btn-primary" (click)="open(addServices)">Adicionar</a>
            </div> -->
       

         

        </div>
        <div class="table-responsive">
          <table class="table align-items-center">
            <thead class="">
              <tr>
                <th scope="col">Navio</th>
                <th scope="col">Descrição</th>
                <th scope="col">Status</th>
                <th scope="col">Criado em:</th>
                <th scope="col">Atualizado em:</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let service of services | search: seachText |paginate: { itemsPerPage, currentPage }">
                <td>
                  {{ service?.ship_name }}
                </td>
                <td>
                  {{ service?.description }}
                </td>
                <td>
                  <span
                    [class]="'badge badge-' + (service?.status == 'IN_PROGRESS' ? 'warning' : service?.status == 'FINISHED' ? 'success' : 'danger')"
                    style="padding: .5em;">
                    {{ service?.status | translate }}
                  </span>
                </td>
                <td>
                  {{ service?.created_at | date: 'dd/MM/yyyy HH:mm' }}
                </td>
                <td>
                  {{ service?.updated_at | date: 'dd/MM/yyyy HH:mm' }}
                </td>
                <td class="text-right">
                  <div class="btn-group mr-2 mb-1" role="group" aria-label="First group">

                    <button type="button" (click)="onManagerService(service);"
                      class="btn btn-info btn-sm" title="Gerenciar">
                      Gerenciar &nbsp;
                      <span>
                        <i class="fas fa-tasks"></i>
                      </span>
                    </button>
                  </div>
                  <div class="btn-group mr-2 mb-1" role="group" aria-label="First group">

                    <button type="button" (click)="onEditService(service); open(editServices);"
                      class="btn btn-dark btn-sm" title="Editar">
                      <span>
                        <i class="fas fa-pencil-alt"></i>
                      </span>
                    </button>
                  </div>
                  <div class="btn-group mr-2 mb-1" role="group" aria-label="First group">
                    <button type="button"
                      (click)="setServiceSelected(service); open(modalConfirmation, removerService, service?.id)"
                      class="btn btn-danger btn-sm" title="Deletar">
                      <span>
                        <i class="fas fa-trash-alt"></i>
                      </span>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <pagination-controls class="pagination-bottom" (pageChange)="currentPage = $event" [nextLabel]="'Próximo'"
          [previousLabel]="'Anterior'"></pagination-controls>
      </div>
    </div>

    <ng-template #addServices let-modal class="modal-dialog fade">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Cadastrar Atendimento</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addServicesForm">
          <div class="form-group">
            <label for="input-ship_name" class="form-control-label">Navio(*)</label>
            <input formControlName="ship_name" id="input-ship_name" class="form-control" type="text">
            <div *ngIf="submittedService && !successService && addForm.ship_name.errors">
              <small class="invalid-feedback" style="display: inline;">O Navio é obrigatório.</small>
            </div>
          </div>

          <div class="form-group">
            <label for="input-description" class="form-control-label">Descrição:</label>
            <textarea formControlName="description" class="form-control" rows="2"> </textarea>
          </div>

          <div class="form-group">
            <label for="input-harbor-create">Situação(*)</label>
            <select formControlName="status" class="form-control" id="input-harbor-create">
              <option value="IN_PROGRESS">Em Andamento</option>
              <option value="FINISHED">Finalizado</option>
            </select>
            <div *ngIf="submittedService && !successService && addForm.status.errors">
              <small class="invalid-feedback" style="display: inline;">A Situação é obrigatória.</small>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="create()" type="button" class="btn btn-outline-dark">Criar</button>
      </div>
    </ng-template>

    <ng-template #editServices let-modal class="modal-dialog">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Editar Atendimento</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editServicesForm">
          <div class="form-group">
            <label for="input-name" class="form-control-label">Navio(*)</label>
            <input formControlName="ship_name" id="input-ship_name" class="form-control" type="text">
            <div *ngIf="submittedService && !successService && editForm.ship_name.errors">
              <small class="invalid-feedback" style="display: inline;">O nome é obrigatório.</small>
            </div>
          </div>

          <div class="form-group">
            <label for="input-description" class="form-control-label">Descrição:</label>
            <textarea formControlName="description" class="form-control" rows="2"> </textarea>
          </div>

          <div class="form-group">
            <label for="input-harbor-create">Situação(*)</label>
            <select formControlName="status" class="form-control" id="input-harbor-create">
              <option value="IN_PROGRESS">Em Andamento</option>
              <option value="FINISHED">Finalizado</option>
              <option value="CANCELLED">Cancelado</option>
            </select>
            <div *ngIf="submittedService && !successService && editForm.status.errors">
              <small class="invalid-feedback" style="display: inline;">A Situação é obrigatória.</small>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="update()" type="button" class="btn btn-outline-dark">SALVAR</button>
      </div>
    </ng-template>

    <ng-template #modalConfirmation let-modal class="modal-dialog">
      <div class="modal-header">
        <h3 class="modal-title" id="modal-basic-title">Confirmação de Ação</h3>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        Deseja Remover Esse Atendimento do navio '{{ serviceSelected?.ship_name }}'?
      </div>
      <div class="modal-footer">
        <button type="button" (click)="modal.dismiss('Cross click')"
          class="btn bg-gradient-secondary mr-3 mr-auto text-left">
          Cancelar
        </button>
        <button (click)="confirmationDelete(); modal.dismiss('Cross click')" type="button"
          class="btn bg-gradient-danger float-right">
          Confimar
        </button>
      </div>
    </ng-template>
  </div>
</div>
