<section class="content-header mb-1">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col d-flex flex-row">
        <button type="button" class="btn btn-primary btn-sm mr-3" style="color: white;" title="Atendimento"
          (click)="back()">
          <span>
            <i class="fas fa-arrow-circle-left"></i>
          </span>
        </button>
        <h1>Cobrança</h1>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-text-width"></i>
            Sumário
          </h3>
        </div>

        <div class="card-body details__content">
          <div class="row">
            <div class="col" *ngIf="sumary">
              <h2>Cobrança: #{{ sumary.id }}</h2>
              <ul class="list-unstyled">
                <li><span class="font-weight-bold m-1">Nome: </span> {{ sumary?.name }}</li>
                <li><span class="font-weight-bold m-1">Forma de Cobrança: </span>
                  {{ sumary?.payment_type == 'INVOICE' ? sumary?.payment_type : sumary?.payment_type + " # " +
                  ( sumary?.number ?? ' : N/A ')}}</li>
                <li><span class="font-weight-bold m-1">Cliente: </span> {{ sumary?.customer?.name }}</li>
                <li><span class="font-weight-bold m-1">Valor: </span> {{ sumary?.value_paid ?? sumary?.value | currency: getCurrency(sumary?.payment_type)}} </li>

                <li><span class="font-weight-bold m-1">Data de Emissão </span> {{ sumary?.launch_at | date:
                  'dd/MM/yyyy' }}</li>
                <li><span class="font-weight-bold m-1">Data de Vencimento: </span> {{ sumary?.due_at | date: 'dd/MM/yyyy'
                  }}</li>
                <li><span class="font-weight-bold m-1">Status: </span> {{ sumary?.status | translate }}
                  <i
                    [class]="sumary?.status == 'PAID' ? 'far fa-check-circle text-success' : 'fas fa-times-circle text-danger'"></i>
                </li>
                <li><span class="font-weight-bold m-1">Valor Recebido: </span> {{ sumary?.value_received | currency: 'BRL'}}</li>
                <li><span class="font-weight-bold m-1">Data de Pagamento: </span> {{ (sumary?.paid_at | date: 'dd/MM/yyyy') ?? '-'
                  }}</li>
              </ul>
            </div>
            <div class="col d-flex justify-content-end align-items-end">
              <button type="button" [disabled]="sumary?.status == 'PAID'"  (click)="setDataPayment()" (click)="open(confirmPayment)" class="btn btn-primary btn-sm"
                title="Deletar">
                Pagar &nbsp;
                <span>
                  <i class="fas fa-dollar-sign"></i>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card card-page">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-7 text-left">
              <h3 class="mb-0">Vistorias</h3>
            </div>
            <div class="col-5 text-right">
              <a class="btn btn-sm btn-primary" *ngIf="services"  (click)="open(addServiceSurvey);">
                <i class="fas fa-plus"></i>&nbsp; Vistorias
              </a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="">
              <tr >
                <th scope="col" >Vistoria</th>
                <th scope="col" >Atendimento</th>

                <th scope="col" >Porto</th>
                <th scope="col" >Cliente</th>
                <th scope="col">Valor</th>
                <th scope="col">Data da Vistoria</th>
                <th  class="text-center">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let serviceSurvey of serviceSurveys">
                <td>{{ serviceSurvey?.survey_name }}</td>
                <td>{{ serviceSurvey?.ship_name }}</td>
                <td>{{ serviceSurvey?.harbor_name }}</td>
                <td>{{ serviceSurvey?.customer_name}}</td>
                <td>{{ serviceSurvey?.price | currency: serviceSurvey?.currency }}</td>
                <td>{{ serviceSurvey?.survey_at | date: 'dd/MM/yyyy' }}</td>
                <td class="text-center" >
                 
                    <button type="button"
                      (click)="setServiceSurvey(serviceSurvey); open(modalConfirmation, removerServiceSurvey, serviceSurvey?.service_survey_id)"
                      class="btn btn-danger btn-sm" title="Deletar">
                      Deletar &nbsp;
                      <span>
                        <i class="fas fa-trash-alt"></i>
                      </span>
                    </button>
                  
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <ng-template #confirmPayment let-modal class="modal-dialog">
    <div class="modal-header">
      <h3 class="modal-title" id="modal-basic-title">Confirmar Pagamento</h3>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="confirmPaymentForm">

        <div class="row">

          <div class="form-group col">
            <label for="input-value-paid" class="form-control-label">Valor Pago(*)</label>
            <input formControlName="value_paid" id="input-value-paid" class="form-control" type="number" step=".01">
            <div *ngIf="submitted && !success && paymentForm.value_paid.errors">
              <small class="invalid-feedback" style="display: inline;">O Valor é obrigatório.</small>
            </div>
          </div>
          <div *ngIf="paymentTypeIsINVOICE(sumary.payment_type )" class="form-group col" >
            <label for="input-value-paid" class="form-control-label">Câmbio(*)</label>
            <input formControlName="currency_rate"  id="input-value-paid" class="form-control" type="number" step=".01">
            <div *ngIf="submitted && !success && paymentForm.currency_rate.errors">
              <small class="invalid-feedback" style="display: inline;">O Valor é obrigatório.</small>
            </div>
          </div>

          <div *ngIf="paymentTypeIsINVOICE(sumary.payment_type )" class="form-group col" >
            <label for="input-value-paid" class="form-control-label">Valor recebido</label>
            <input  formControlName="value_received"  class="form-control" type="number" step=".01">
            <div *ngIf="submitted && !success && paymentForm.value_received.errors">
              <small class="invalid-feedback" style="display: inline;">O Valor é obrigatório.</small>
            </div>
          </div>


        </div>

      

        <div class="form-group">
          <label for="input-paid-at" class="form-control-label">Data de Pagamento(*)</label>
          <input type="date" formControlName="paid_at" id="input-paid-at" class="form-control">
          <div *ngIf="submitted && !success && paymentForm.paid_at.errors">
            <small class="invalid-feedback" style="display: inline;">A Data de Pagamento é obrigatória.</small>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button (click)="paidIncome()" type="button" class="btn btn-outline-dark">Confirmar</button>
    </div>
  </ng-template>

  <ng-template #confirmPayment let-modal class="modal-dialog">
    <div class="modal-header">
      <h3 class="modal-title" id="modal-basic-title">Confirmar Pagamento</h3>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="confirmPaymentForm">
        <div class="form-group">
          <label for="input-value-paid" class="form-control-label">Valor Pago(*)</label>
          <input formControlName="value_paid" id="input-value-paid" class="form-control" type="number" step=".01">
          <div *ngIf="submitted && !success && paymentForm.value_paid.errors">
            <small class="invalid-feedback" style="display: inline;">O Valor é obrigatório.</small>
          </div>
        </div>

        <div class="form-group">
          <label for="input-paid-at" class="form-control-label">Data de Pagamento(*)</label>
          <input type="date" formControlName="paid_at" id="input-paid-at" class="form-control">
          <div *ngIf="submitted && !success && paymentForm.paid_at.errors">
            <small class="invalid-feedback" style="display: inline;">A Data de Pagamento é obrigatória.</small>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button   (click)="confirmPayment()" type="button" class="btn btn-outline-dark">Confirmar</button>
    </div>
  </ng-template>

  <ng-template #addServiceSurvey let-modal class="modal-dialog fade">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Adicionar Vistorias</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <!-- <button type="button" class="close"  (click)="setValue(2)">
      <span aria-hidden="true">&times;</span> t estee
    </button> -->

    <div class="modal-body"  *ngIf="loading">
      <div class="row d-flex justify-content-center align-items-end">
        <div class="col-5">
          <div class="form-group">
            <form [formGroup]="addServiceSurveys">
              <label for="input-service">Atendimento(*)</label>
              <select formControlName="id"  class="form-control" id="input-service" (change)="setService($event);">
              
                <option *ngFor="let service of services" [value]="service?.id" [selected]="service?.id == serviceSelected?.id">
                  {{ service.ship_name }} #{{ service.id }}
                </option>
              </select>
            </form>
           
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center align-items-end" *ngIf="serviceSelected?.ship_name">
        <div class="col-8">
          <div class="callout callout-info">
            <h5>Número: # {{serviceSelected?.id}}</h5>
            <h5>Nome: {{serviceSelected?.ship_name}}</h5>
            <h5>Descrição: {{serviceSelected?.description}}</h5>
            <h5>Quantidade de Vistorias: {{ serviceSelected?.service_survey?.length }}</h5>
          </div>
        </div>
      </div>
      <div class="table-responsive" *ngIf="serviceSelected?.service_survey?.length > 0">
        <table class="table align-items-center table-flush">
          <thead class="">
            <tr>
              <th scope="col"></th>
              <th scope="col">Vistoria</th>
              <th scope="col">Porto</th>
              <th scope="col">Cliente</th>
              <th scope="col">Status</th>
              <th scope="col">Valor</th>
              <th scope="col">Data Vistoria</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let survey of serviceSelected?.service_survey">
              <td class="text-center">
                <div class="btn-group mr-2 mb-1" role="group" aria-label="First group">
                  <div class="form-check icheck-primary"> 
                    <input class="form-check-input" type="checkbox" [checked]="survey?.is_checked"
                      (change)="setCheckBox($event, survey); setServiceSurveys();"
                      [disabled]="survey?.billing_status != 'DRAFT' || disabledCheckBox(survey)" [id]="'check-' + survey?.id">
                    <label class="form-check-label" [for]="'check-' + survey?.id">
                      {{ survey?.billing_status != 'DRAFT' ? 'Faturado' :'Adicionar' }}
                    </label>
                  </div>
                </div>
              </td>
              <td>{{ survey?.name }}</td>
              <td>{{ survey?.harbor?.name }}</td>
              <td>{{ survey?.customer?.name }}</td>
              <td>
                <span
                  [class]="'badge badge-' + getBadge(survey?.billing_status)"
                  style="padding: .5em;">
                  {{ survey?.billing_status | translate }}
                </span>
              </td>
              <td>{{ survey?.price | currency: survey.currency }}</td>
              <td>{{ survey?.survey_at | date: 'dd/MM/yyyy' }}</td>
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="modal-footer">
      <button  (click)="addServices()" type="button" class="btn btn-outline-dark"
        [disabled]="surveysSelected?.length == 0">Adicionar</button>
    </div>
  </ng-template>

  <ng-template #modalConfirmation let-modal class="modal-dialog">
    <div class="modal-header">
      <h3 class="modal-title" id="modal-basic-title">Confirmação de Ação</h3>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      Deseja Remover Essa Vistoria '{{ serviceSurveySelected?.name }}'?
    </div>
    <div class="modal-footer">
      <button type="button" (click)="modal.dismiss('Cross click')"
        class="btn bg-gradient-secondary mr-3 mr-auto text-left">
        Cancelar
      </button>
      <button (click)="confirmationDelete(); modal.dismiss('Cross click')" type="button"
        class="btn bg-gradient-danger float-right">
        Confimar
      </button>
    </div>
  </ng-template>
</div>
