<section class="content-header mb-1">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Usuários do Sistema</h1>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow card-page">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-7 text-left">
              <h3 class="mb-0">Listagem</h3>
            </div>
            <div class="col-5 text-right">
              <a class="btn btn-sm btn-primary" (click)="open(addUsers)">Adicionar</a>
            </div>
          </div>

        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="">
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Criado em:</th>
                <th scope="col">Editado em:</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>
                  {{ user?.name }}
                </td>
                <td>
                  {{ user?.email }}
                </td>
                <td>
                  {{ user?.created_at | date: 'dd/MM/YYYY H:mm:s'}}
                </td>
                <td>
                  {{ user?.updated_at | date: 'dd/MM/YYYY H:mm:s' }}
                </td>
                <td class="text-right">
                  <div class="btn-group mr-2 mb-1" role="group" aria-label="First group">

                    <button type="button" (click)="onEditUser(user); open(editUsers);"
                      class="btn btn-dark btn-sm" title="Editar">
                    
                      <span>
                        <i class="fas fa-pencil-alt"></i>
                      </span>
                    </button>
                  </div>
                  <div class="btn-group mr-2 mb-1" role="group" aria-label="First group">
                    <button *ngIf="user.id == 1"  type="button"
                      (click)="setUserSelected(user); open(modalConfirmation, removerUser, user?.id)"
                      class="btn btn-danger btn-sm" title="Deletar">
                    
                      <span>
                        <i class="fas fa-trash-alt"></i>
                      </span>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <ng-template #addUsers let-modal class="modal-dialog fade">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Cadastrar Usuário</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addUsersForm">
          <div class="form-group">
            <label for="input-name" class="form-control-label">Nome(*)</label>
            <input formControlName="name" id="input-name" class="form-control" type="text">
            <div *ngIf="submittedUser && !successUser && addForm.name.errors">
              <small class="invalid-feedback" style="display: inline;">O nome é obrigatório.</small>
            </div>
          </div>

          <div class="form-group">
            <label for="input-email" class="form-control-label">E-mail</label>
            <input formControlName="email" id="input-email" class="form-control" type="text">
            <div *ngIf="submittedUser && !successUser && addForm.email.errors">
              <small class="invalid-feedback" style="display: inline;">O E-mail é obrigatório.</small>
            </div>
          </div>

          <div class="form-group">
            <label for="input-email" class="form-control-label">Senha</label>
            <input formControlName="password" id="input-email" class="form-control" type="password">
            <div *ngIf="submittedUser && !successUser && addForm.password.errors">
              <small class="invalid-feedback" style="display: inline;">A senha é obrigatória.</small>
            </div>
          </div>

          <div class="form-group">
            <label for="input-email" class="form-control-label">Confirmar Senha</label>
            <input formControlName="password_confirmation" id="input-email" class="form-control" type="password">
            <div *ngIf="submittedUser && !successUser && addForm.password.errors">
              <small class="invalid-feedback" style="display: inline;">A confirmação de senha é obrigatória.</small>
            </div>

            <div  class="invalid-feedback" style="display: inline;" *ngIf="addForm?.password_confirmation?.errors?.matchPassword">A senha e a confirmação da senha não correspondem!</div>
          </div>


        </form>
      </div>
      <div class="modal-footer">
        <button (click)="create()" type="button" class="btn btn-outline-dark">Criar</button>
      </div>
    </ng-template>

    <ng-template #editUsers let-modal class="modal-dialog">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Editar Usuário</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editUsersForm">
          <div class="form-group">
            <label for="input-name" class="form-control-label">Nome(*)</label>
            <input formControlName="name" id="input-name" class="form-control" type="text">
            <div *ngIf="submittedUser && !successUser && editForm.name.errors">
              <small class="invalid-feedback" style="display: inline;">O nome é obrigatório.</small>
            </div>
          </div>

          <div class="form-group">
            <label for="input-email" class="form-control-label">E-mail</label>
            <input formControlName="email" id="input-email" class="form-control" type="text">
            <div *ngIf="submittedUser && !successUser && editForm.email.errors">
              <small class="invalid-feedback" style="display: inline;">O E-mail é obrigatório.</small>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="update()" type="button" class="btn btn-outline-dark">SALVAR</button>
      </div>
    </ng-template>

    <ng-template #modalConfirmation let-modal class="modal-dialog">
      <div class="modal-header">
        <h3 class="modal-title" id="modal-basic-title">Confirmação de Ação</h3>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        Deseja Remover Esse Usuário '{{ userSelected?.name }}'?
      </div>
      <div class="modal-footer">
        <button type="button" (click)="modal.dismiss('Cross click')"
          class="btn bg-gradient-secondary mr-3 mr-auto text-left">
          Cancelar
        </button>
        <button (click)="confirmationDelete(); modal.dismiss('Cross click')" type="button"
          class="btn bg-gradient-danger float-right">
          Confimar
        </button>
      </div>
    </ng-template>
  </div>
</div>
