<div class="card">
    <div class="card-header">
      <h3 class="card-title">Clientes Mais Rentáveis</h3>

      <div class="card-tools">
        <div class="input-group input-group-sm" style="width: 150px;">
          <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

          <div class="input-group-append">
            <button type="submit" class="btn btn-default">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0">
      <table class="table table-hover text-nowrap">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Receita</th>
            <th>% de Lucro</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Navio Peregrino</td>
            <td>R$ 80.650,00</td>
            <td>50 %</td>
          </tr>
          <tr>
            <td>Navio Velho Chico</td>
            <td>R$ 80.650,00</td>
            <td>50 %</td>
          </tr>
         
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
  </div>