<section class="content-header mb-1">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Receitas</h1>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-4 text-left">
              <h3 class="mb-0">Lista de Contas a Receber</h3>
            </div>
            <!-- <div class="col-6 text-right">
              <a class="btn btn-sm btn-success" (click)="open(addCharges)">Criar Cobrança</a>
            </div> -->
            <div class="col-7 text-right">
              <a class="btn btn-sm btn-primary" (click)="open(addIncomes)">Adicionar</a>
            </div>
            <div class="col-1 text-right">
              <a class="btn btn-sm btn-secondary" (click)="open(filter)">Filtros</a>
            </div>
          </div>

        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead">
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Tipo</th>
                <th scope="col">Categoria</th>
                <th scope="col">Valor</th>
                <th scope="col">Situação</th>
                <th scope="col">Data Vencimento</th>
                <th scope="col">Data de Pagamento</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let income of incomes | paginate: { itemsPerPage, currentPage }">
                <td>
                  {{ income?.name }}
                </td>
                <td>
                  {{ income?.type | translate }}
                </td>
                <td>
                  {{ income?.income_category?.name ?? '-' }}
                </td>
                <td>
                  {{ income?.value_paid ??  income?.value | currency: 'BRL' }}
                </td>
                <td>
                  {{ income?.status | translate }}
                </td>
                <td>
                  {{ (income?.due_at | date: 'dd/MM/yyyy') ?? '-' }}
                </td>

                <td>
                  {{ (income?.paid_at | date: 'dd/MM/yyyy') ?? '-' }}
                </td>


                <td class="text-right">
                  <div class="btn-group mr-2 mb-1" role="group" aria-label="First group" *ngIf="income?.status != 'PAID'">
                    <button type="button" (click)="open(addCharges); setIncomeSelected(income);" class="btn btn-sm btn-dark"
                      title="Criar Cobrança">
                      Criar Cobrança &nbsp;
                      <i class="fas fa-file-invoice"></i>
                    </button>
                  </div>
                  <div class="btn-group mr-2 mb-1" role="group" aria-label="First group" *ngIf="income?.type == 'SERVICES'">
                    <button type="button" (click)="toServices(income);" class="btn btn-dark btn-sm"
                      title="Visualizar Atendimentos">
                      <span>
                        <i class="far fa-eye"></i>
                      </span>
                    </button>
                  </div>
                  <div class="btn-group mr-2 mb-1" role="group" aria-label="First group">
                    <button type="button" (click)="onEditIncome(income); open(editIncomes);" class="btn btn-dark btn-sm"
                      title="Editar">
                      Editar &nbsp;
                      <span>
                        <i class="fas fa-pencil-alt"></i>
                      </span>
                    </button>
                  </div>
                  <div class="btn-group mr-2 mb-1" role="group" aria-label="First group">
                    <button type="button" (click)="onConfirmPaymentSelected(income); open(confirmPayment)"
                      class="btn btn-dark btn-sm" title="Pagar">
                      Pagar &nbsp;
                      <span>
                        <i class="fas fa-file-invoice-dollar"></i>
                      </span>
                    </button>
                  </div>
                  <div class="btn-group mr-2 mb-1" role="group" aria-label="First group">
                    <button type="button"
                      (click)="setIncomeSelected(income); open(modalConfirmation, removerIncome, income?.id)"
                      class="btn btn-dark btn-sm" title="Deletar">
                      Deletar &nbsp;
                      <span>
                        <i class="fas fa-trash-alt"></i>
                      </span>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <pagination-controls class="text-center" (pageChange)="currentPage = $event" [nextLabel]="'Próximo'"
          [previousLabel]="'Anterior'"></pagination-controls>
      </div>
    </div>

    <ng-template #addCharges let-modal class="modal-dialog fade">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Criar Cobrança</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="chargersForm">
          <div class="form-group">
            <label for="input-name" class="form-control-label">Nome(*)</label>
            <input formControlName="name" id="input-name" class="form-control" type="text">
            <div *ngIf="submittedIncome && !successIncome && chargerForm.name.errors">
              <small class="invalid-feedback" style="display: inline;">O Nome é obrigatório.</small>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="input-account-create">Conta(*)</label>
                <select formControlName="account_id" class="form-control" id="input-account-create">
                  <option *ngFor="let account of accounts" [ngValue]="account?.id">
                    {{ account.name }}
                  </option>
                </select>
                <div *ngIf="submittedIncome && !successIncome && chargerForm.account_id.errors">
                  <small class="invalid-feedback" style="display: inline;">A Conta é obrigatória.</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="input-customer-create">Cliente(*)</label>
                <select formControlName="customer_id" class="form-control" id="input-customer-create">
                  <option *ngFor="let customer of customers" [ngValue]="customer?.id">
                    {{ customer.name }}
                  </option>
                </select>
                <div *ngIf="submittedIncome && !successIncome && chargerForm.customer_id.errors">
                  <small class="invalid-feedback" style="display: inline;">O Cliente é obrigatório.</small>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="input-due-at" class="form-control-label">Data de Faturamento(*)</label>
                <input type="date" formControlName="launch_at" id="input-due-at" class="form-control">
                <div *ngIf="submittedIncome && !successIncome && chargerForm.launch_at.errors">
                  <small class="invalid-feedback" style="display: inline;">A Data de Faturamento é obrigatória.</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="input-due-at" class="form-control-label">Data de Vencimento(*)</label>
                <input type="date" formControlName="due_at" id="input-due-at" class="form-control">
                <div *ngIf="submittedIncome && !successIncome && chargerForm.due_at.errors">
                  <small class="invalid-feedback" style="display: inline;">A Data de Vencimento é obrigatória.</small>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="input-number" class="form-control-label">Número da NF(*)</label>
                <input formControlName="number" id="input-number" class="form-control" type="text">
                <div *ngIf="submittedIncome && !successIncome && chargerForm.number.errors">
                  <small class="invalid-feedback" style="display: inline;">O Número da NF é obrigatório.</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="input-harbor-create">Forma de Faturamento(*)</label>
                <select formControlName="payment_type" class="form-control" id="input-harbor-create">
                  <option value="INVOICE">INVOICE</option>
                  <option value="NF">NF</option>
                </select>
                <div *ngIf="submittedIncome && !successIncome && chargerForm.payment_type.errors">
                  <small class="invalid-feedback" style="display: inline;">A Forma de Faturamento é obrigatória.</small>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="createCharge()" type="button" class="btn btn-outline-dark">Criar</button>
      </div>
    </ng-template>


    <ng-template #addIncomes let-modal class="modal-dialog fade">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Cadastrar Conta a Receber</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addIncomesForm">


          <div class="form-group">
            <label for="input-name" class="form-control-label">Nome(*)</label>
            <input formControlName="name" id="input-name" class="form-control" type="text">
            <div *ngIf="submittedIncome && !successIncome && addForm.name.errors">
              <small class="invalid-feedback" style="display: inline;">O Nome é obrigatório.</small>
            </div>
          </div>

          <div class="row">

            <div class="col">
              <div class="form-group">
                <label for="input-value" class="form-control-label">Valor(*)</label>
                <input formControlName="value" id="input-value" class="form-control" type="number" step=".01">
                <div *ngIf="submittedIncome && !successIncome && addForm.value.errors">
                  <small class="invalid-feedback" style="display: inline;">O Valor é obrigatório.</small>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="form-group">
                <label for="input-due-at" class="form-control-label">Data de Emissão(*)</label>
                <input type="date" formControlName="launch_at" id="input-due-at" class="form-control">
                <div *ngIf="submittedIncome && !successIncome && addForm.launch_at.errors">
                  <small class="invalid-feedback" style="display: inline;">A Data de emissão é obrigatória.</small>
                </div>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col">
              <div class="form-group">
                <label for="input-harbor-create">Forma de Pagamento</label>
                <select formControlName="payment_type" class="form-control" id="input-harbor-create">
                  <option  selected value="NF">Nota Fiscal</option>
                  <option value="INVOICE">Invoice</option>
                </select>
              </div>
            </div>
            <div class="col">
            <div class="form-group">
              <label for="input-nf" class="form-control-label">Nº</label>
              <input formControlName="nf" id="input-nf" class="form-control" type="text">
            </div>
            </div>


          </div>


          <div class="row">

            <div class="col">
              <div class="form-group">
                <label for="input-due-at" class="form-control-label">Data de Vencimento(*)</label>
                <input type="date" formControlName="due_at" id="input-due-at" class="form-control">
                <div *ngIf="submittedIncome && !successIncome && addForm.due_at.errors">
                  <small class="invalid-feedback" style="display: inline;">A Data de vencimento é obrigatória.</small>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="form-group">
                <label for="input-account-create">Cliente</label>
                <select formControlName="customer_id" class="form-control" id="input-account-create">
                  <option></option>
                  <option *ngFor="let customer of customers" [ngValue]="customer?.id">
                    {{ customer.name }}
                  </option>
                </select>
                <div *ngIf="submittedIncome && !successIncome && addForm.customer_id.errors">
                  <small class="invalid-feedback" style="display: inline;">A Conta é obrigatória.</small>
                </div>
              </div>
            </div>

          </div>



          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="input-account-create">Conta(*)</label>
                <select formControlName="account_id" class="form-control" id="input-account-create">
                  <option *ngFor="let account of accounts" [ngValue]="account?.id">
                    {{ account.name }}
                  </option>
                </select>
                <div *ngIf="submittedIncome && !successIncome && addForm.account_id.errors">
                  <small class="invalid-feedback" style="display: inline;">A Conta é obrigatória.</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="input-income-category-create">Categoria(*)</label>
                <select formControlName="income_category_id" class="form-control" id="input-income-category-create">
                  <option *ngFor="let incomeCategory of incomeCategorys" [ngValue]="incomeCategory?.id">
                    {{ incomeCategory.name }}
                  </option>
                </select>
                <div *ngIf="submittedIncome && !successIncome && addForm.income_category_id.errors">
                  <small class="invalid-feedback" style="display: inline;">A Categoria é obrigatória.</small>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
              <input type="checkbox" class="custom-control-input" id="customSwitch4" formControlName="isPayment">
              <label class="custom-control-label" for="customSwitch4">Pagamento?</label>
            </div>
          </div>
          <!-- -->
          <div class="row">
            <div class="col">
              <div class="form-group" *ngIf="addIncomesForm.controls['isPayment'].value">
                <label for="input-value-paid" class="form-control-label">Valor Pago(*)</label>
                <input formControlName="value_paid" id="input-value-paid" class="form-control" type="number" step=".01">
                <div *ngIf="submittedIncome && !successIncome && addForm.value_paid.errors">
                  <small class="invalid-feedback" style="display: inline;">O Valor Pago é obrigatório.</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group" *ngIf="addIncomesForm.controls['isPayment'].value">
                <label for="input-paid-at" class="form-control-label">Data de Pagamento(*)</label>
                <input type="date" formControlName="paid_at" id="input-paid-at" class="form-control">
                <div *ngIf="submittedIncome && !successIncome && addForm.paid_at.errors">
                  <small class="invalid-feedback" style="display: inline;">A Data de Pagamento é obrigatória.</small>
                </div>
              </div>
            </div>
          </div>
           <!--<div class="row">

            <div class="col">
              <div class="form-group" *ngIf="addIncomesForm.controls['isPayment'].value">
                <label for="input-discount" class="form-control-label">Desconto(*)</label>
                <input formControlName="discount" id="input-discount" class="form-control" type="number" step=".01">
                <div *ngIf="submittedIncome && !successIncome && addForm.discount.errors">
                  <small class="invalid-feedback" style="display: inline;">O Desconto é obrigatório.</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group" *ngIf="addIncomesForm.controls['isPayment'].value">
                <label for="input-fines" class="form-control-label">Multa(*)</label>
                <input formControlName="fines" id="input-fines" class="form-control" type="number" step=".01">
                <div *ngIf="submittedIncome && !successIncome && addForm.fines.errors">
                  <small class="invalid-feedback" style="display: inline;">A Multa é obrigatória.</small>
                </div>
              </div>
            </div>
          </div>-->

        </form>
      </div>
      <div class="modal-footer">
        <button (click)="create()" type="button" class="btn btn-outline-dark">Criar</button>
      </div>
    </ng-template>

    <ng-template #editIncomes let-modal class="modal-dialog">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Editar Conta a Receber</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editIncomesForm">


          <div class="form-group">
            <label for="input-value" class="form-control-label">Valor(*)</label>
            <input formControlName="value" id="input-value" class="form-control" type="number" step=".01">
            <div *ngIf="submittedIncome && !successIncome && editForm.value.errors">
              <small class="invalid-feedback" style="display: inline;">O Valor é obrigatório.</small>
            </div>
          </div>

          <div class="form-group">
            <label for="input-name" class="form-control-label">Nome(*)</label>
            <input formControlName="name" id="input-name" class="form-control" type="text">
            <div *ngIf="submittedIncome && !successIncome && editForm.name.errors">
              <small class="invalid-feedback" style="display: inline;">O Nome é obrigatório.</small>
            </div>
          </div>

          <div class="row">

            <div class="col">
              <div class="form-group">
                <label for="input-harbor-create">Forma de Pagamento</label>
                <select formControlName="payment_type" class="form-control" id="input-harbor-create">
                  <option value="NF">Nota Fiscal</option>
                  <option value="INVOICE">Invoice</option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="input-nf" class="form-control-label">Nº</label>
                <input formControlName="nf" id="input-nf" class="form-control" type="text">
              </div>

          </div>
          </div>



            <div class="form-group">
              <label for="input-due-at" class="form-control-label">Data de Emissão(*)</label>
              <input type="date" formControlName="launch_at" id="input-due-at" class="form-control">
              <div *ngIf="submittedIncome && !successIncome && editForm.launch_at.errors">
                <small class="invalid-feedback" style="display: inline;">A Data de emissão é obrigatória.</small>
              </div>
            </div>


          <div class="form-group">
            <label for="input-due-at" class="form-control-label">Data de vencimento(*)</label>
            <input type="date" formControlName="due_at" id="input-due-at" class="form-control">
            <div *ngIf="submittedIncome && !successIncome && editForm.due_at.errors">
              <small class="invalid-feedback" style="display: inline;">A Data de vencimento é obrigatória.</small>
            </div>
          </div>


          <div class="form-group">
            <label for="input-account-create">Cliente</label>
            <select formControlName="customer_id" class="form-control" id="input-account-create">
              <option></option>
              <option *ngFor="let customer of customers" [ngValue]="customer?.id">
                {{ customer.name }}
              </option>
            </select>
            <div *ngIf="submittedIncome && !successIncome && editForm.customer_id.errors">
              <small class="invalid-feedback" style="display: inline;">A Conta é obrigatória.</small>
            </div>
          </div>


          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="input-account-create">Conta(*)</label>
                <select formControlName="account_id" class="form-control" id="input-account-create">
                  <option *ngFor="let account of accounts" [ngValue]="account?.id">
                    {{ account.name }}
                  </option>
                </select>
                <div *ngIf="submittedIncome && !successIncome && editForm.account_id.errors">
                  <small class="invalid-feedback" style="display: inline;">A conta é obrigatória.</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="input-income-category-create">Categoria(*)</label>
                <select formControlName="income_category_id" class="form-control" id="input-income-category-create">
                  <option *ngFor="let incomeCategory of incomeCategorys" [ngValue]="incomeCategory?.id">
                    {{ incomeCategory.name }}
                  </option>
                </select>
                <div *ngIf="submittedIncome && !successIncome && editForm.income_category_id.errors">
                  <small class="invalid-feedback" style="display: inline;">A Categoria é obrigatório.</small>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
              <input type="checkbox" class="custom-control-input" id="customSwitch4" formControlName="isPayment">
              <label class="custom-control-label" for="customSwitch4">Pagamento?</label>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group" *ngIf="editIncomesForm.controls['isPayment'].value">
                <label for="input-value-paid" class="form-control-label">Valor Pago(*)</label>
                <input formControlName="value_paid" id="input-value-paid" class="form-control" type="number" step=".01">
                <div *ngIf="submittedIncome && !successIncome && editForm.value_paid.errors">
                  <small class="invalid-feedback" style="display: inline;">O Valor Pago é obrigatório.</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group" *ngIf="editIncomesForm.controls['isPayment'].value">
                <label for="input-paid-at" class="form-control-label">Data de Pagamento(*)</label>
                <input type="date" formControlName="paid_at" id="input-paid-at" class="form-control">
                <div *ngIf="submittedIncome && !successIncome && editForm.paid_at.errors">
                  <small class="invalid-feedback" style="display: inline;">A Data de Pagamento é obrigatória.</small>
                </div>
              </div>
            </div>
          </div>
          <!--
          <div class="row">
            <div class="col">
              <div class="form-group" *ngIf="editIncomesForm.controls['isPayment'].value">
                <label for="input-discount" class="form-control-label">Desconto(*)</label>
                <input formControlName="discount" id="input-discount" class="form-control" type="number" step=".01">
                <div *ngIf="submittedIncome && !successIncome && editForm.discount.errors">
                  <small class="invalid-feedback" style="display: inline;">O Desconto é obrigatório.</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group" *ngIf="editIncomesForm.controls['isPayment'].value">
                <label for="input-fines" class="form-control-label">Multa(*)</label>
                <input formControlName="fines" id="input-fines" class="form-control" type="number" step=".01">
                <div *ngIf="submittedIncome && !successIncome && editForm.fines.errors">
                  <small class="invalid-feedback" style="display: inline;">A Multa é obrigatória.</small>
                </div>
              </div>
            </div>
          </div>-->

        </form>
      </div>
      <div class="modal-footer">
        <button (click)="update()" type="button" class="btn btn-outline-dark">SALVAR</button>
      </div>
    </ng-template>

    <ng-template #confirmPayment let-modal class="modal-dialog">
      <div class="modal-header">
        <h3 class="modal-title" id="modal-basic-title">Confirmar Pagamento '{{ incomeSelected?.name }}'</h3>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="confirmPaymentForm">
          <div class="form-group">
            <label for="input-value-paid" class="form-control-label">Valor Pago(*)</label>
            <input formControlName="value_paid" id="input-value-paid" class="form-control" type="number" step=".01">
            <div *ngIf="submittedIncome && !successIncome && paymentForm.value_paid.errors">
              <small class="invalid-feedback" style="display: inline;">O Valor é obrigatório.</small>
            </div>
          </div>

          <div class="form-group">
            <label for="input-paid-at" class="form-control-label">Data de Pagamento(*)</label>
            <input type="date" formControlName="paid_at" id="input-paid-at" class="form-control">
            <div *ngIf="submittedIncome && !successIncome && paymentForm.paid_at.errors">
              <small class="invalid-feedback" style="display: inline;">A Data de Pagamento é obrigatória.</small>
            </div>
          </div>
        </form>

        <div class="modal-footer">
          <button (click)="paidIncome()" type="button" class="btn btn-outline-dark">Confirmar</button>
        </div>

      </div>

    </ng-template>

    <ng-template #filter let-modal class="modal-dialog">
      <div class="modal-header">
        <h3 class="modal-title" id="modal-basic-title">Filtros</h3>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="filtersForm">
          <div class="form-group">
            <label for="input-harbor-create">Tipo</label>
            <select formControlName="type" class="form-control" id="input-harbor-create">
              <option value="OPERATION">Operação</option>
              <option value="DEFAULT">Padrão</option>
            </select>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="input-harbor-create">Situação</label>
                <select formControlName="status" class="form-control" id="input-harbor-create">
                  <option value="PAID">Pago</option>
                  <option value="NOT_PAID">Não Pago</option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="input-income-category-create">Categoria</label>
                <select formControlName="income_category_id" class="form-control" id="input-income-category-create">
                  <option *ngFor="let incomeCategory of incomeCategorys" [ngValue]="incomeCategory?.id">
                    {{ incomeCategory.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group">
            <app-ng-date-range-picker [(fromDate)]="fromDate" [(toDate)]="toDate"></app-ng-date-range-picker>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="getIncomeWithFilter()" type="button" class="btn btn-outline-dark">Buscar</button>
      </div>
    </ng-template>

    <ng-template #modalConfirmation let-modal class="modal-dialog">
      <div class="modal-header">
        <h3 class="modal-title" id="modal-basic-title">Confirmação de Ação</h3>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        Deseja Remover Essa Conta a Receber '{{ incomeSelected?.name }}'?
      </div>
      <div class="modal-footer">
        <button type="button" (click)="modal.dismiss('Cross click')"
          class="btn bg-gradient-secondary mr-3 mr-auto text-left">
          Cancelar
        </button>
        <button (click)="confirmationDelete(); modal.dismiss('Cross click')" type="button"
          class="btn bg-gradient-danger float-right">
          Confimar
        </button>
      </div>
    </ng-template>
  </div>
</div>
